.inputCounter {
  margin: 0;
  padding: 0;
  display: flex;
}

.inputCounter-Arrows {
  display: flex;
  flex-direction: column;
}

.inputCounter input {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 16px;
  text-align: center;
  width: 40px;
  outline: none;
  border: 0px solid;
  transition: background-color 0.4s ease;
}

.inputCounter input:hover {
  background-color: rgba(51, 51, 51, 0.664);
}

.inputCounter button {
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  width: 30px;
  height: 18px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.inputCounter button:hover {
  background-color: rgba(51, 51, 51, 0.664);
}

.inputCounter button:active {
  background-color: rgba(51, 51, 51, 0.664);
  transform: scale(1.05);
}

.EffectInput {
  border-bottom: 2px solid white;
  margin-right: 5px;
  padding-bottom: 5px;
  width: 95%;
  // background-color: red;
  .inputCounter {
    width: 100%;
    input {
      padding-left: 10px;
      text-align: left;
      font-size: 14px;
    }
    height: 30px;
  }
}
